@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text;
  }
}

@layer components {
  .textGradient {
    background: linear-gradient(
      89.92deg,
      #144ee3 -0.02%,
      #eb568e 18.86%,
      #a353aa 64.49%,
      #144ee3 100.67%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .navbarBrand {
    background: radial-gradient(
        95.19% 12441.23% at 5.56% 79.01%,
        #eb568e 0%,
        #144ee3 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .boxShadow {
    box-shadow: 10px 9px 22px rgba(20, 78, 227, 0.38);
  }
}
